@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
  *{
      margin: 0; 
      padding: 0;
  } 
  html{
      scroll-behavior: smooth;
  }
     
     .sidebar{
   /* background-color: greenyellow;*/ 
     background-color:rgb(46, 170, 253);
    width: 30vw; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    height: 100vh; 
     }
.sidebar  li{ 
    padding: 25px ;
    list-style: none; 
    font-size: 2vw; 
    color: antiquewhite; 
    text-decoration: none;    
   
    
}   
.sidebar nav li a{
    text-decoration: none;
     color: white;
}
.sidebar nav{ 
    padding: 20px; 
    margin-left: 10px;
}  
       
 
.main{
  
    width: 80vw;

} 
.container{ 
    display: flex; 
  background-color: rgb(94, 218, 223);
  width: 98.5vw;

}
.img-eye{width: 20vw;  
    height:47.5vh;
   
     
    

}   
.infocontainer{
 background-color: rgb(163, 219, 233);
   height: 78vh; 
   width: 50vw; 
   margin: 20px ;
    display: flex; 
    margin-left: 100px; 
    font-size: 2vw;
}
  .devpic img{ 
      width: 375px;  
      margin-top: 100px;  
      margin-right: 80px;
     
    
   
  } 
  .devinfo{ 
      display: flex;  
justify-content: center; 
flex-direction: column;   
font-family: 'Source Sans Pro', sans-serif; 
 color: rgb(76, 78, 78);  

 

  } 
  .hello{ 
      font-size: 5vw; 
     
  }
 .name{ 
     font-size: 4vw; 
     font-weight: bold;
 }
 .about{ 
     font-size: 30px;
 } 
 .buttons{ 
 margin-top: 34px; 


 }  
 .buttons button{
    padding: 15px; 
  background-color: rgb(108, 108, 192);  
  margin-right: 20px; 
  color: white; 
  border-radius: 20px; 
  border: solid black
 } 
 .buttons button:hover{
     background-color: white; 
     color: rgb(70, 70, 121);
 } 
 .contactform{
     background-color: white; 
     margin: 200px; 
     padding: 200px;
 } 
 #about{  
     background-color: rgb(204, 186, 186);
    
     height: 130vh;  
    

     

 } 
 #intro h1{
     background-color: rgb(165, 165, 151); 
     display: flex; 
    justify-content: space-around;
     font-style: oblique; 
     font-size: 20px; 
     padding: 30px;  
     color: white;
 } 
 #intro p{
     display: flex; 
     justify-content: center;  
     font-size: 20px; 
     margin: 30px; 
     background-color: rgb(0, 0, 0); 
     color: white;  
     border: solid greenyellow;
     
     
 } 
 #skills{
     background-color: rgb(94, 218, 223);
     height: 100vh;
     
 } 
 #skills h1{ 
     display: flex; 
     justify-content: center; 
   background-color: rgb(49, 148, 214);
     padding: 20px; 
     font-size: 4vw; 
     font-style: oblique; 
     color: white;  
     border: solid black;
    

   

 }   
 #skills p{
     font-size: 2vw; 
     border: solid rgb(8, 10, 85); 
     border-radius: 20px; 
     width: 50vw; 
    background-color: gray;
    padding: 10px; 
    color: white;
 }



 #contactme { 
   background-color: rgb(94, 218, 223);
     height: 100vh;
 } 
 #cm h1{
     display: flex; 
     justify-content: center; 
     font-size: 4vw; 
     font-style: oblique; 
   background-color: rgb(49, 148, 214) ;
     padding: 30px; 
     color: white; 
     border: solid black;
 } 
  #name{
     background-color: rgb(71, 65, 65); 
      font-size: 2vw;
      margin: 20px; 
      width: 50vw; 
      border: solid rgb(8, 10, 85); 
      border-radius: 20px; 
      color: white; 
      padding: 5PX;
  }   
  #skillsint p{
      margin: 20px;
  } 
  
 
  #about{
      background-color: rgb(136, 219, 252);  
     
  } 
  #about h1{
      display: flex; 
      justify-content: center; 
      font-size: 5vw; 
      background-color: rgb(49, 148, 214); 
      color: white; 
      border: solid black;
  }  
  #about p{
    font-size: 1.5vw; 
    border: solid rgb(8, 10, 85); 
    border-radius: 20px; 
    width: 80vw; 
   background-color: gray;
   padding: 10px; 
   color: white; 
   margin-top: 20PX;
  } 
  #aboutme li{ 
      margin: 5px;
      background-color: rgb(182, 182, 182); 
     border: solid rgb(84,26,160);
      font-size: 1vw; 
      width: 30vw; 
      list-style: none; 
      padding: 10px;
       border-radius: 20px;  
       color: white; 
       margin: 10px;
  } 
  #pd li{
      background-color: rgb(7,173,250); 
      border: solid rgb(8, 10, 85); 
      font-size: 2vw; 
      width: 30vw; 
      margin: 20px; 
      list-style: none; 
      border-radius: 25px; 
      color: white; 
      padding: 10px;
  } 
  #ae li{
    background-color: rgb(7, 173, 250); 
    border: solid rgb(84,26,160); 
    font-size: 2vw; 
    width: 30vw; 
    margin: 20px; 
    list-style: none; 
    border-radius: 25px; 
    color: white ;
    padding: 10px;
  } 
  #fe li{
    margin: 5px;
    background-color: rgb(182,182,182); 
    border: solid rgb(8, 10, 85); 
    font-size: 1vw; 
    width: 30vw; 
    list-style: none; 
    padding: 10px;
     border-radius: 20px; 
     color: rgb(255, 255, 255);  
     margin: 10px;
    
  }